body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: #000000;
    margin: 0 50px;
    text-decoration: none;

}

main {
    padding: 2em;
    text-align: center;
}

.hero-section {
    #background-image: url('/static/images/home_bg.jpeg'); /* Add a relevant background image */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

.hero-content {
    max-width: 600px;
    margin: auto;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: #555;
}

.content-wrapper {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
    background-color: #00000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a:hover {
    text-decoration: underline;
}

section {
    padding: 60px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    color: #666;
}

.playlist-section {
    margin-bottom: 40px;
}

.playlist-title {
    cursor: pointer;
    background-color: #444;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.video-container.collapse {
    display: none;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-item {
    margin: 10px;
}

.video-item p {
    margin-top: 10px;
}

@media (max-width: 768px) {
    nav h1,
    nav ul {
        float: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .video-grid {
        flex-direction: column;
        align-items: center;
    }

    .video-item {
        width: 100%;
        max-width: 320px;
    }
}
.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.section-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
}

.collapsible {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.collapsible:after {
    content: '\002B';
    font-size: 1.5em;
    color: #777;
    float: right;
    margin-left: 10px;
}

.collapsible.active:after {
    content: '\2212';
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #222;
    margin-bottom: 10px;
}

.blog-card {
    background-color: #444;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
}

.blog-card a {
    color: #1e90ff;
    text-decoration: none;
}

.blog-card a:hover {
    text-decoration: underline;
}

.blog-platform {
    color: #ccc;
    font-size: 0.9em;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    display: flex;
    align-items: flex-start;
    background-color: #00000;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.book-cover {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.book-info {
    flex-grow: 1;
}

.book-info h2 {
    margin: 0 0 10px;
}

.book-info p {
    margin: 0 0 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
